body {
    font-family: Montserrat, serif;
    font-size: 15px;
}
h2 {
    font-weight: normal;
    margin-bottom: 0px;
}
.accept_body{
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
}
.accept_cont{
    background-color: #fff;
    color: #000;
    max-width: 800px;
}
hr {
    border: 0;
    margin-bottom: 20px;
    border-top: 1px solid #d5d2d2;
    border-bottom: 1px solid #fff;
}
.acceptNo_btn{
    background-color: #995a5a;
    color: white;
    width: 50%;
    font-size: 15px;
    margin-top: 7px;
    padding: 12px 20px;
    border: 1px solid;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    text-align: center;
    user-select: none

}
.acceptYes_btn{
    background-color: #995a5a;
    color: white;
    width: 50%;
    font-size: 15px;
    margin-top: 7px;
    padding: 12px 20px;
    border: 1px solid;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    text-align: center;
    user-select: none

}
.acceptYes_btn:hover{
    filter: brightness(120%);
}

.acceptYes_btn:active{
    filter: brightness(90%);
}
.acceptNo_btn:hover{
    filter: brightness(120%);
}
.acceptNo_btn:active{
    filter: brightness(90%);
}

@media screen and (max-width: 600px) {
    .col-25, .col-75 {
        width: 100%;
        margin-top: 0;
    }
    .acceptNo_btn {
         width: 100%;
         margin-top: 0;
     }
    .acceptYes_btn {
        width: 100%;
        margin-top: 0;
    }
}
